{% extends 'base.html' %}

{% block title %}
<title>DELETE STUDENT DETAILS</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1><u>Delete Student Details</u></h1>
    <form method="post">
        {% csrf_token %}
        <h2>Are You Really Want To Delete This Record Permenantly ?</h2>
        <h3>{{obj.first_name}} {{obj.last_name}}</h3>
        <button type="submit">DELETE STUDENT</button>
        <a href="{% url 'Show_Student' %}"><button type="button">CANCEL STUDENT</button></a>
    </form>
</div>
{% endblock %}